
@using ApplicationCore.Models
@model UserProfileModel


<div class="container">

    <h3>User Profile</h3>

    <div>
        <div class="content">
            <p> First Name</p>
            <input name="firstname" value ="@Model.Firstname"/>
        </div>

        <div class="content">
            <p>Last Name</p>
            <input name="lastname" value="@Model.Lastname"/>
        </div>

        <div class="content">
            <p>Date Of Birth</p>
            <input type="date" name="dateofbirth" value="@Model.DateOfBirth" />
        </div>

        <div class="content">
            <p>Email</p>
            <input type="email" name="email" value="@Model.Email"/>
        </div

        <div class="content">
            <p>Phone</p>
            <input  name="phone" value="@Model.Phone"/>
        </div>

       
    </div>
</div>