



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieShopMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieShopMVC.styles.css" asp-append-version="true" />
    <!-- Font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    Movie Shop <i class="fas fa-film"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                GENRES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- how to use model in navbar???-->
                               @* @foreach (var g in @Model.Genres)
                                {
                                   <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genreId="@g.Id">@g.Name</a></li>
                                }*@
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Action">Action</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Adventure">Adventure</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Animation">Animation</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Comedy">Comedy</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Crime">Crime</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Documentary">Documentary</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Drama">Drama</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Family">Family</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Fantasy">Fantasy</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="History">History</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Horror">Horror</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Music">Music</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Mystery">Mystery</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Romance">Romance</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Science Fiction">Science Fiction</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Thriller">Thriller</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="TV Movie">TV Movie</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="War">War</a></li>
                                <li><a class="dropdown-item" asp-controller="Movie" asp-action="MoviesByGenre" asp-route-genre="Western">Western</a></li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>

                    @* this part does not work due to model confilcts???
                    <partial name="_LoginPartial" />*@
                   
                    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register" ><button id="loginbutton" class="btn btn-outline-light">Register </button></a>
                    
                  
                    <a class="nav-link text-dark"  asp-controller="Account" asp-action="Login" ><button id="registerbutton" class="btn btn-outline-light">Login </button></a>
                   

                </div>
            </div>
        </nav>
        
       
      
  
    </header>
    <div id="wrapper">
        <main role="main" class="pb-3">
          
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MovieShopMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
