@model ApplicationCore.Models.PageResultSet<ApplicationCore.Models.MovieCardModel>

@{
    var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    var genre = qsPath.Split("&")[0].Split("=")[1];
    Console.WriteLine(genre);

}

@{
    ViewData["Title"] = "Movie by Genre";

}

<div class="text-center">



    <div class="rounded">

        <div class="container-fluid">
            <div class="row">
                @foreach (var movieCard in Model.Data)
                {
                    <div class="col-6 col-lg-3 col-sm-4 col-xl-2">

                        <partial name="_MovieCardPartial" model="movieCard" />
                    </div>

                }
            </div>


            <nav style="margin-top: 30px;" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link"  asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="1" aria-label="First">
                            <span aria-hidden="true">First Page</span>
                        </a>
                    </li>

                    
                    <li class="page-item">
                        @if (Model.PageIndex > 1)
                        {
                            <a class="page-link"
                           asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.PageIndex-11)" aria-label="Prev">
                            <span aria-hidden="true">Prev</span>
                        </a>}
                    </li>


                    @if (Model.PageIndex >= 4 )
                    {
                        <li class="page-item"><a class="page-link" >....</a></li>
                    
                    }
                    @if (Model.PageIndex >= 3) 
                    {
                        <li class="page-item "><a class="page-link" asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.PageIndex-2)">@(Model.PageIndex-2)</a></li>
                    }
                    @if (Model.PageIndex >= 2)
                    {
                        <li class="page-item "><a class="page-link" asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.PageIndex-1)"> @(Model.PageIndex-1)</a></li>
                    }
                    <li class="page-item active" aria-current="page"><a class="page-link  "  asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@Model.PageIndex">@Model.PageIndex</a></li>
                    @if (Model.PageIndex < Model.TotalPages -2)
                    {
                        <li class="page-item "><a class="page-link" asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.PageIndex+1)">@(Model.PageIndex+1)</a></li>
                    }

                    @if (Model.PageIndex < Model.TotalPages -3)
                    {
                        <li class="page-item"><a class="page-link" asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.PageIndex+2)">@(Model.PageIndex+2)</a></li>
                    
                    }

                    @if (Model.PageIndex > 0  && Model.PageIndex < Model.TotalPages - 3 )
                    {
                        <li class="page-item"><a class="page-link" >....</a></li>
                    
                    }


                    @if (Model.PageIndex < Model.TotalPages - 3)
                    {
                        <li class="page-item"><a class="page-link" asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.TotalPages)">@(Model.TotalPages)</a></li>
                    }
                    <li class="page-item">
                        @if (Model.PageIndex < Model.TotalPages)
                        {
                            <a class="page-link"
                           asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.PageIndex+1)" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>}
                        
                        
                        
                    </li>

                    <li class="page-item">
                        <a class="page-link"  asp-controller="Movie" asp-action="Genre" asp-route-genre="@genre" asp-route-pageNumber="@(Model.TotalPages)" aria-label="End">
                            <span aria-hidden="true">End Page</span>
                        </a>
                    </li>
                </ul>
            </nav>



        </div>
    </div>

</div>